<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <title><%= title %></title>
</head>
<body>
  <nav class="navbar navbar-light bg-light navbar-expand-md">
    <div class="container-fluid">

        <a class="navbar-brand text-workout-dark" href="/">Repertoire</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav d-flex align-items-center ms-auto">
            <% if (user) { %>
              <div class="nav-item">
                <a class="nav-link text-workout-dark" aria-current="page" href="/workouts">Workouts</a>
              </div>
            <% } %>
            <div class="nav-item">
              <% if (user) { %>
                <!-- code for user icon -->
                <a class="nav-link" href="/users/<%= user._id %>" id="user-nav-link" >
                  <img class="rounded-circle align-self-center mr-2" id="menu-avatar" src="<%= user.avatar %>" alt="<%= user.name %>'s details" id="menu-avatar">
                </a>
                <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul> -->
                <!-- <a href="/logout">LOG OUT</a> -->
                <% } else { %>
                  <a class="btn btn-workout" role="button" href="/auth/google">LOG IN</a>
              <% } %>
              </div>
          </div>
        </div>
      

      </div>
    </div>
  </nav>
  <main class="container mt-5">

