<%- include('../partials/header') %>

<div>
    <div class="row f-flex align-items-center">
        <div class="col-10">
            <h2>Workouts</h2>
        </div>
        <div class="col-2">
            <a class="btn btn-secondary" role="button" href="/workouts/new">Add</a>
        </div>
    </div>

    <div class="row">
        <%- workouts.map(workout => {
            return `
                <div class="col-12">
                    <div>
                        <a href="/workouts/${workout._id}">${workout.formatWorkoutName()}</a>
                    </div>

                </div>`
            }).join("") %>
    </div>

</div>

<%- include('../partials/footer') %>