<%- include('../partials/header') %>

<div>
    <div class="col-2">
        <h2>Workouts</h2>
        
        <div>
            <a href="/workouts/new"><button>Add</button></a>
        </div>
    </div>

    <%- workouts.map(workout => {
        return `
            <div class="col-2">
                <div>
                    <a href="/workouts/${workout._id}">${workout.formatWorkoutName()}</a>
                </div>

            </div>`
        }).join("") %>


</div>

<%- include('../partials/footer') %>