<%- include('./partials/header') %>

<% if (!user) { %>
	<h1 class="display-1">Repertoire</h1>
	<p class="lead">Track your reps, sets and workouts with Repertoire</p>

	<p>Are you ready to infuse strength, stamina, and a dash of excitement into your life? Repertoire is your perfect partner. We’re not your average workout app – we’re the co-pilot on your journey to a stronger, healthier, and more confident you.</p>

    <p>With Repertoire, every rep is a step closer to your personal goals. Record your workouts, monitor your progress, and become a part of a community that cherishes every flex, every gain, and every milestone you achieve.</p>

	<!-- <p>please login to continue</p> -->
    <div class="col d-flex justify-content-center">
        <a href="/auth/google"><button type="button" class="btn btn-lg btn-workout">Start Here</button></a>	
    </div>

    <h2>Why Choose Repertoire?</h2>

    <p>"Add Some Reps to Your Repertoire": Each rep is a leap towards transformation. Watch as you evolve with each session, moving from ordinary to extraordinary, from couch potato to fitness aficionado.</p>

    <p>The Joy of Flex: Flaunt your progress without the fear of judgement. At Repertoire, we celebrate every flex and every gain, all under the safety net of anonymity.</p>

    <p>Connect, Inspire, and Flourish: Join a spirited community of fitness enthusiasts. Share your journey, find inspiration, and motivate others with your triumphant tale!</p>

    <p>Want to grow glutes that could eclipse the sun? At Repertoire, our motto is 'add some reps to your repertoire', and watch as you go from pancake to peach in no time. Oh, and don't forget to post a cheeky 'flex' to get the likes rolling in!</p>

    <p>Remember, at Repertoire, no workout is too small, and no flex is too big.</p>

    <p>Jump-start your journey towards a fitter, stronger, and happier you with Repertoire.</p>

    <p>Repertoire – Where every rep counts.</p>

<% } else { %>
	<p>Welcome, <%= user.name %></p>
	<a class="btn btn-workout" href="/workouts/new">Workout</a>
<% } %>

<%- include('./partials/footer') %>
