

/* nav {
    border: 1px solid red;
} */

/* .col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
} */

/* .container {
    margin-left: 20vw;
    margin-right: 20wv;

} */

body {
    /* border: 1px solid green; */
    padding: 0;
    margin: 0;
    /* padding: 0;
    margin: 0;
    width: 100wv; */
}

.bi::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}

#neg {
    border: 1px solid blue;
}

#menu-avatar {
    height: 2rem;
    width: auto;
}

#user-nav-link:hover .dropdown-menu {
    display: block;
}

.exercise {
    /* border: 3px solid red; */
    border-radius: 5rem;
    background: white;
    padding: 3rem;
}

.exercise-border-wrap {
    /* background: linear-gradient(to right, red, purple); */
    border-radius: 5rem;
    padding: .5rem;
}

.exercise-inner-white-border {
    border-radius: 5rem;
    background-color: transparent;
    border: .25rem solid white;
    padding: .25rem;
}

.gif-img {
    max-height: 100%;
    width: auto;
    display: block
}
.gif-div {
    height: 200px;
    overflow: hidden;
}
@media (min-width: 576px) {
    .gif-div {
        height: 250px; /* or whatever you want */
    }
}

/* Medium devices (Bootstrap's md) */
@media (min-width: 768px) {
    .responsive-div {
        height: 350px;
    }
}


/* div {
    padding-bottom: .25rem;
} */


.workout {
    /* border: 3px solid red; */
    border-radius: 5rem;
    background: white;
    padding: 1rem;
}
